<div style='text-align: center; padding: 1rem;'>
  <h1 style='color: #444; margin-bottom: 1rem;'>¡Tu pedido ya esta en camino!</h1>
  <p style='color: #666; font-size: 1.2rem; margin-bottom: 2rem;'>Gracias por realizar tu pedido con nosotros, aqui tienes los detalles de tu compra</p>
</div>
