API_URL=http://dev-pedidos.com
DATABASE_HOST=localhost
DATABASE_DIALECT=mysql
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=orders
REDIS_URL=redis://localhost:6379
GOOGLE_EMAIL=carlospereyralago@gmail.com
GOOGLE_CLIENT_ID=notelovoyadecir
GOOGLE_CLIENT_SECRET=notelovoyadecir
GOOGLE_REFRESH_TOKEN=notelavoyadecir